{% extends 'global/base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid d-flex flex-column align-items-center">
    <div class="content-usuario d-flex flex-column flex-lg-row justify-content-center between">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            {% if usuario.imagem != '' %}
              <img src="/media/{{ usuario.imagem }}" class="card-img-top educator-img" alt="..." />
            {% else %}
              <img src="{% static 'global/imgs/profile-pic.svg' %}" class="card-img-top no-img" alt="..." />
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h4 class="card-title">{{ usuario.nome }}</h4>
                {% if usuario.eh_educador %}
                  <a href="{% url 'sistema:editar_educador' educador.id %}">
                {% else %}
                  <a href="{% url 'sistema:editar_usuario' usuario.id %}">
                {% endif %}
                  <button class="btn btn-primary" type="button">Editar</button>
                </a>
              </div>
              <p class="infos-usuario">
                Nome de usuário: <span class="dados-usuario">{{ usuario.nome_usuario }}</span>
              </p>
              <p class="infos-usuario">
                Email: <span class="dados-usuario">{{ usuario.email }}</span>
              </p>
              <p class="infos-usuario">
                Telefone: <span class="dados-usuario">{{ usuario.telefone }}</span>
              </p>
              <p class="infos-usuario">
                CPF: <span class="dados-usuario">{{ usuario.cpf }}</span>
              </p>
              <p class="infos-usuario">
                Data de nascimento: <span class="dados-usuario">{{ usuario.data_nascimento }}</span>
              </p>
            </div>
          </div>
          {% if usuario.eh_educador %}
            <div class="col-md-12 p-2">
              <div class="area-badges mb-3">
                {% if areas %}
                  {% for area in areas %}
                    <span class="badge bg-primary">{{ area.nome }}</span>
                  {% endfor %}
                {% else %}
                  <span class="badge bg-primary">Nenhuma área cadastrada</span>
                {% endif %}
              </div>
              <h3>Minibio:</h3>
              <div class="minibio w-100 p-3">
                <p class="card-text">{{ educador.minibio }}</p>
              </div>
              <h3>Descrição:</h3>
              <div class="minibio w-100 p-3">
                <p class="card-text">{{ educador.descricao }}</p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      {% if usuario.eh_educador %}
        <div class="dados-aula d-flex flex-column align-items-center">
          <span class="d-flex flex-column align-items-center">
              <h2>Valor Aula</h2>
              <h5>R$ {{ educador.valor_aula }}</h5>
              <h2>Tempo Aula</h2>
              <h5>{{ educador.tempo_aula }} minutos</h5>
          </span>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
