{% extends 'global/base.html' %}
{% load static %}

{% block includes %}
    <link rel="stylesheet" href="{% static 'global/css/styles-aulas.css' %}" />
{% endblock includes %}

{% block content %}
<link rel="stylesheet" href="{% static 'global/css/pagamento.css' %}" />
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="text-center">
            <h4 class="titulo">Pagar aula</h4>
            <div class="row">
                <form action="{{ form_action }}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-12 form-pagar">
                            <div class="row g-3">
                                <div class="col-12 text-center">
                                    <p>Saldo disponível na conta:</p>
                                    <p class="font-weight-bold">R$ {{ usuario.saldo }}</p>
                                </div>
                                <div class="col-12">
                                    {% if pode_pagar %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck" required/>
                                            <label class="form-check-label" for="gridCheck">Declaro estar ciente e de acordo com a compra</label>
                                        </div>
                                        {% if erro %}
                                            {{ erro }}
                                        {% endif %}
                                    {% endif %}
                                    <div class="d-flex align-items-center flex-column gap-1">
                                        {% if pode_pagar %}
                                            <button type="submit" class="btn btn-primary w-25">Pagar</button>
                                        {% endif %}
                                        <a class="w-100" href="{% url "sistema:recarga" %}">
                                            <button type="button" class="btn btn-primary w-25">Fazer recarga</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
